<a href="https://colab.research.google.com/github/ellaclauz/Hypothesis-testing/blob/main/penguins_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
from scipy import stats

In [2]:
sn.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
penguins = sn.load_dataset("penguins")

In [4]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [5]:
penguins.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [6]:
penguins = penguins.dropna(axis=0)

In [7]:
penguins.isna().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

Determining whether there is a statistically significant different in bill length between Adelie species and Chinstrap species

In [8]:
Adelie = penguins[penguins["species"] == "Adelie"]
Adelie

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,Female
148,Adelie,Dream,36.0,17.8,195.0,3450.0,Female
149,Adelie,Dream,37.8,18.1,193.0,3750.0,Male
150,Adelie,Dream,36.0,17.1,187.0,3700.0,Female
151,Adelie,Dream,41.5,18.5,201.0,4000.0,Male

In [9]:
Chinstrap = penguins[penguins["species"] == "Chinstrap"]
Chinstrap

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
152,Chinstrap,Dream,46.5,17.9,192.0,3500.0,Female
153,Chinstrap,Dream,50.0,19.5,196.0,3900.0,Male
154,Chinstrap,Dream,51.3,19.2,193.0,3650.0,Male
155,Chinstrap,Dream,45.4,18.7,188.0,3525.0,Female
156,Chinstrap,Dream,52.7,19.8,197.0,3725.0,Male
...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,Male
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,Male
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female

In [10]:
sampled_Adelie = Adelie.sample(n=30, replace= True, random_state=1)
sampled_Adelie

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
42,Adelie,Dream,36.0,18.5,186.0,3100.0,Female
146,Adelie,Dream,39.2,18.6,190.0,4250.0,Male
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,Female
143,Adelie,Dream,40.7,17.0,190.0,3725.0,Male
139,Adelie,Dream,39.7,17.9,193.0,4250.0,Male
85,Adelie,Dream,41.3,20.3,194.0,3550.0,Male
150,Adelie,Dream,36.0,17.1,187.0,3700.0,Female
135,Adelie,Dream,41.1,17.5,190.0,3900.0,Male
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,Male
140,Adelie,Dream,40.2,17.1,193.0,3400.0,Female
30,Adelie,Dream,39.5,16.7,178.0,3250.0,Female
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,Female
107,Adelie,Biscoe,38.2,20.0,190.0,3900.0,Male
145,Adelie,Dream,39.0,18.7,185.0,3650.0,Male
148,Adelie,Dream,36.0,17.8,195.0,3450.0,Female
56,Adelie,Biscoe,39.0,17.5,186.0,3550.0,Female
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,Female
102,Adelie,Biscoe,37.7,16.0,183.0,3075.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
147,Adelie,Dream,36.6,18.4,184.0,3475.0,Female
143,Adelie,Dream,40.7,17.0,190.0,3725.0,Male
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,Male
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,Male
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,Female
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
134,Adelie,Dream,38.1,17.6,187.0,3425.0,Female
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,Female
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,Male

In [11]:
sampled_Chinstrap = Chinstrap.sample(n=30, replace= True, random_state=1)
sampled_Chinstrap

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
189,Chinstrap,Dream,52.0,20.7,210.0,4800.0,Male
164,Chinstrap,Dream,47.0,17.3,185.0,3700.0,Female
161,Chinstrap,Dream,51.3,19.9,198.0,3700.0,Male
157,Chinstrap,Dream,45.2,17.8,198.0,3950.0,Female
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female
168,Chinstrap,Dream,50.3,20.0,197.0,3300.0,Male
153,Chinstrap,Dream,50.0,19.5,196.0,3900.0,Male
158,Chinstrap,Dream,46.1,18.2,178.0,3250.0,Female
177,Chinstrap,Dream,52.0,19.0,197.0,4150.0,Male
202,Chinstrap,Dream,48.1,16.4,199.0,3325.0,Female
172,Chinstrap,Dream,42.4,17.3,181.0,3600.0,Female
170,Chinstrap,Dream,46.4,18.6,190.0,3450.0,Female
163,Chinstrap,Dream,51.7,20.3,194.0,3775.0,Male
180,Chinstrap,Dream,46.4,17.8,191.0,3700.0,Female
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,Male
166,Chinstrap,Dream,45.9,17.1,190.0,3575.0,Female
202,Chinstrap,Dream,48.1,16.4,199.0,3325.0,Female
165,Chinstrap,Dream,52.0,18.1,201.0,4050.0,Male
161,Chinstrap,Dream,51.3,19.9,198.0,3700.0,Male
159,Chinstrap,Dream,51.3,18.2,197.0,3750.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
213,Chinstrap,Dream,46.8,16.5,189.0,3650.0,Female
174,Chinstrap,Dream,43.2,16.6,187.0,2900.0,Female
209,Chinstrap,Dream,49.3,19.9,203.0,4050.0,Male
153,Chinstrap,Dream,50.0,19.5,196.0,3900.0,Male
152,Chinstrap,Dream,46.5,17.9,192.0,3500.0,Female
212,Chinstrap,Dream,51.9,19.5,206.0,3950.0,Male
160,Chinstrap,Dream,46.0,18.9,195.0,4150.0,Female
165,Chinstrap,Dream,52.0,18.1,201.0,4050.0,Male
199,Chinstrap,Dream,49.0,19.6,212.0,4300.0,Male

In [12]:
# Observed absolute difference
diff = abs(sampled_Adelie["bill_length_mm"].mean() - sampled_Chinstrap["bill_length_mm"].mean())
diff

10.263333333333335

In [13]:
significance_level = 0.05

In [14]:
test_results = stats.ttest_ind(a = sampled_Adelie["bill_length_mm"], b = sampled_Chinstrap["bill_length_mm"], equal_var = False)
test_results

Ttest_indResult(statistic=-14.183830773806367, pvalue=2.1865478312662846e-19)

In [15]:
p_value = test_results.pvalue

p_value

2.1865478312662846e-19

In [16]:
if p_value < significance_level:
    print(diff, p_value, "Reject")
else:
    print(diff, p_value, "Fail to reject")

10.263333333333335 2.1865478312662846e-19 Reject

With the significance level of 0.05 based on the sampled data we have at hand, we are rejecting the null hypothesis that there is no significant observed difference and we are saying that it is evident it is more likely there is a significant difference in bill length on average for Adelie species and Chinstrap species